<%- include('partials/header.ejs') %>
<div class="wrapper">
	<h1>Welcome to Earth Site !!!</h1>
	<h3>Earth's formation and evolution</h3>
	<p>Scientists think Earth was formed at roughly the same time as the sun and other planets some 4.6 billion years ago, when the solar system coalesced from a giant, rotating cloud of gas and dust known as the solar nebula. As the nebula collapsed because of its gravity, it spun faster and flattened into a disk. Most of the material was pulled toward the center to form the sun.

Other particles within the disk collided and stuck together to form ever-larger bodies, including Earth. Scientists think Earth started off as a waterless mass of rock.

"It was thought that because of these asteroids and comets flying around colliding with Earth, conditions on early Earth may have been hellish," Simone Marchi, a planetary scientist at the Southwest Research Institute in Boulder, Colorado, previously told Space.com. But in recent years, new analyses of minerals trapped within ancient microscopic crystals suggests that there was liquid water already present on Earth during its first 500 million years, Marchi said.</p>
	 <img src="/img/earth-sol-pow.jpeg" alt="erath picture with solar pannels">
</div>
<div class="clear"></div>
<%- include('partials/footer.ejs') %>