<%- include('partials/header.ejs') %>
<div class="wrapper">
	<h1> Welcome to the Solar System Site!</h1>
	

	<h3>HOW THE OBJECTS IN THE SOLAR SYSTEM INTERACT?</h3>
	<div id="content">
	<p>All objects in the Solar System orbit the Sun; that is, they move around the Sun in elliptical paths. Moreover, the orbits of these objects lie roughly in the same plane, called the ecliptic plane.

The mechanism that causes the orbit of objects in the Solar System is one of the fundamental forces in nature: gravity. While the natural tendency for objects in the Solar System is to continue in a straight line of motion, the Sun exerts a force (gravity) on each object and therefore “bends” the straight path into a curved one. Additionally, other objects in the Solar System are massive enough to exert gravitational forces significant enough to alter the orbit of smaller objects. For example, the Earth’s gravity is strong enough to keep the Moon in orbit around the Earth.</p>

		
		<img src="/img/solar-system-439046_640.jpg" alt="The Solar System" /> 
</div>
</div> <!-- closes wrapper -->
<%- include('partials/footer.ejs') %>