<%- include('partials/header.ejs') %>
<div class="wrapper">
	<h1>Welcome to Mercury</h1>

	<h3>Where is Mercury?</h3>
	<div id="content">
	<p>It is the closest planet to the Sun. Mercury is the smallest of the eight planets in our solar system. It is only a little bigger than Earth's moon. It would take more than 18 Mercurys to be as big as Earth. If you could weigh Mercury and the moon, Mercury would weigh much more. Mercury has a rocky surface, but deep inside is a heavier material, probably iron. On average, it is a little more than one-third the distance from the sun than Earth is. Or, put another way, Earth is almost three times farther from the sun than Mercury.  </p>

	<img src="/img/mercury.jpg" alt="mercury">
</div>
</div>
<div class="clear"></div>
<%- include('partials/footer.ejs') %>
