<%- include('partials/header.ejs') %>
<div class="wrapper">
<h1>Welcome to Venus Site</h1>

<h3>Venus is often called the Earth’s sister planet</h3>

<p>The Earth and Venus are very similar in size with only a 638 km difference in diameter and Venus having 81.5% of the Earth’s mass. Both also have a central core, a molten mantle and a crust. Early civilisations thought Venus was two different bodies. These were called Phosphorus and Hesperus by the Greeks, and Lucifer and Vesper by the Romans. When Venus’ orbit around the Sun overtakes Earth’s orbit, it changes from being visible after sunset to being visible before sunrise. Mayan astronomers made detailed observations of Venus as early as 650 AD. The average surface temperature is 462 °C, and because Venus does not tilt on its axis, there is no seasonal variation. The dense atmosphere of around 96.5 percent carbon dioxide traps heat and causes a greenhouse effect</p>

<img src="/img/300pxVenus.jpg" alt="300 px picture of venus in an orange color">

</div>
<div class="clear"></div>
<%- include('partials/footer.ejs') %>