body {
	background-color: #CBE2F6;
	text-align: center;
}
a:link {
	color: purple;
	
}

a:visited {
	color: black;
}

a:hover, a:focus {
	text-decoration: underline;
	background-color:#000;
}

#content{
	margin: 0 0 0 165px;
	padding: 0 35px;

}

.footer{
	font-family: "Gill Sans", "Gill Sans MT", "Myraid Pro", "DejaVu Sans Condensed", Arial, sans-serif;
	font-variant: normal;

	font-size: 0.9em;
	padding: 20px;
	text-align: right;
	text-decoration: underline;
	border-top: 1px solid #ffffff;
	background-color: #02ceb6;
}

.clear{
	clear: both;
}
.wrapper{
	width: 1200px;
	margin: 0 auto;
	background: #34af2b;
	border: 1px solid #fff;
}
#nav{
	width: 200px;
	float: left;
	padding: 15px 10px;
	background: #42f4df;
	border: 1px solid #fff;
	
}